{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_remui/setupwizard/setup_servercheck
}}

{{! moodle version and write access check }}
<div class="setup-container check-requirements">
    <p class="h-semibold-4 p-mb-4 checking">{{#str}} wearechecking, theme_remui {{/str}}</p>
    <div class="moodleversioncheck p-mb-4">
        <div class="d-flex align-items-center">
            <img class="p-mr-3 loader" src="{{config.wwwroot}}/theme/remui/pix/siteinnerloader.svg" width="28" height="28">
            <span class="h-regular-5">{{#str}} moodleversion, theme_remui {{/str}}</span>
        </div>

        <div class="align-items-center setupwizard-error-msg p-mt-2 d-none">
            <img class="p-mr-1" src="{{config.wwwroot}}/theme/remui/pix/setupwizard/setupwizard_error.svg" width="12" height="12" >
            <span>{{#str}}setupwizard:warning1, theme_remui {{/str}}</span>
        </div>

        <div class="align-items-center setupwizard-success-msg p-mt-2 d-none">
            <img class="p-mr-1" src="{{config.wwwroot}}/theme/remui/pix/setupwizard/setupwizard_success.svg" width="14" height="14" >
            <span>{{#str}}setupwizard:success1, theme_remui {{/str}}</span>
        </div>

    </div>

    <div class="writeaccesscheck p-mb-4">
        <div class="d-flex align-items-center">
            <img class="p-mr-3 loader" src="{{config.wwwroot}}/theme/remui/pix/siteinnerloader.svg" width="28" height="28">
            <span class="h-regular-5">{{#str}} writepermissioncheck, theme_remui {{/str}}</span>
        </div>

        <div class="align-items-center setupwizard-error-msg p-mt-2 d-none">
            <img class="p-mr-1" src="{{config.wwwroot}}/theme/remui/pix/setupwizard/setupwizard_error.svg" width="12" height="12" >
            <span>{{#str}}setupwizard:warning2, theme_remui {{/str}}</span>
        </div>

        <div class="align-items-center setupwizard-success-msg p-mt-2 d-none">
            <img class="p-mr-1" src="{{config.wwwroot}}/theme/remui/pix/setupwizard/setupwizard_success.svg" width="14" height="14" >
            <span>{{#str}}setupwizard:success2, theme_remui {{/str}}</span>
        </div>
    </div>

    <div class="internetconnectioncheck  p-mb-4">
        <div class="d-flex align-items-center">
            <img class="p-mr-3 loader" src="{{config.wwwroot}}/theme/remui/pix/siteinnerloader.svg" width="28" height="28">
            <span class="h-regular-5">{{#str}} internetconnectincheck, theme_remui {{/str}}</span>
        </div>

        <div class="align-items-center setupwizard-error-msg p-mt-2 d-none">
            <img class="p-mr-1" src="{{config.wwwroot}}/theme/remui/pix/setupwizard/setupwizard_error.svg" width="12" height="12" >
            <span>{{#str}}setupwizard:warning3, theme_remui {{/str}}</span>
        </div>

        <div class="align-items-center setupwizard-success-msg p-mt-2 d-none">
            <img class="p-mr-1" src="{{config.wwwroot}}/theme/remui/pix/setupwizard/setupwizard_success.svg" width="14" height="14" >
            <span>{{#str}}setupwizard:success3, theme_remui {{/str}}</span>
        </div>
    </div>

    <div class="allowurlfopencheck  p-mb-4">
        <div class="d-flex align-items-center">
            <img class="p-mr-3 loader" src="{{config.wwwroot}}/theme/remui/pix/siteinnerloader.svg" width="28" height="28">
            <span class="h-regular-5">{{#str}}allowurlfopencheck, theme_remui {{/str}} </span>
        </div>

        <div class="align-items-center setupwizard-error-msg p-mt-2 d-none">
            <img class="p-mr-1" src="{{config.wwwroot}}/theme/remui/pix/setupwizard/setupwizard_error.svg" width="12" height="12" >
            <span>{{#str}}setupwizard:warning4, theme_remui {{/str}}</span>
        </div>

        <div class="align-items-center setupwizard-success-msg p-mt-2 d-none">
            <img class="p-mr-1" src="{{config.wwwroot}}/theme/remui/pix/setupwizard/setupwizard_success.svg" width="14" height="14" >
            <span>{{#str}}setupwizard:success4, theme_remui {{/str}}</span>
        </div>
    </div>

    <div class="setup-navigation d-flex justify-content-between mt-4">
        <a  class="btn btn-secondary skip-server-check" >
            {{#str}}skipfornow, theme_remui {{/str}}
        </a>
        <button
        class="btn btn-primary next-page ml-auto disabled"
        data-nextstep="sitesetup"
      >{{#str}}continue, theme_remui{{/str}} </button>
    </div>

</div>
