[class^="edw-icon-"], [class*="edw-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: #{$remui-icon-font-family} !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.edw-icon-cart:before {
  content: "\e943";
}
.edw-icon-coupon:before {
  content: "\e944";
}
.edw-icon-credit-card_24:before {
  content: "\e945";
}
.edw-icon-license:before {
  content: "\e946";
}
.edw-icon-menu-2:before {
  content: "\e94a";
}
.edw-icon-shopping-bag:before {
  content: "\e94b";
}
.edw-icon-side-bar:before {
  content: "\e94c";
}
.edw-icon-sort-2:before {
  content: "\e94d";
}
.edw-icon-Monochrome:before {
  content: "\e942";
}
.edw-icon-Accessibility:before {
  content: "\e931";
}
.edw-icon-Bold:before {
  content: "\e932";
}
.edw-icon-Book-guide:before {
  content: "\e933";
}
.edw-icon-Collapse:before {
  content: "\e934";
}
.edw-icon-copy:before {
  content: "\e935";
}
.edw-icon-Cursor:before {
  content: "\e936";
}
.edw-icon-Dark-contrast:before {
  content: "\e937";
}
.edw-icon-Dyslexia-font:before {
  content: "\e938";
}
.edw-icon-false:before {
  content: "\e939";
}
.edw-icon-font-size:before {
  content: "\e93a";
}
.edw-icon-High-contrast:before {
  content: "\e93b";
}
.edw-icon-High-saturation:before {
  content: "\e93c";
}
.edw-icon-Letter-spacing:before {
  content: "\e93d";
}
.edw-icon-Light-contrast:before {
  content: "\e93e";
}
.edw-icon-Line-spacing:before {
  content: "\e93f";
}
.edw-icon-Low-saturation:before {
  content: "\e940";
}
.edw-icon-Minus:before {
  content: "\e941";
}
.edw-icon-reset:before {
  content: "\e947";
}
.edw-icon-Stop:before {
  content: "\e948";
}
.edw-icon-Title:before {
  content: "\e949";
}
.edw-icon-table:before {
  content: "\e92f";
}
.edw-icon-sort-arrow:before {
  content: "\e930";
}
.edw-icon-Dark-mode:before {
  content: "\e92d";
}
.edw-icon-Light-mode:before {
  content: "\e92e";
}
.edw-icon-bullet-Arrow:before {
  content: "\e929";
}
.edw-icon-link:before {
  content: "\e92c";
}
.edw-icon-Twitter:before {
  content: "\7e";
}
.edw-icon-Add-Page:before {
  content: "\e92a";
}
.edw-icon-Dot:before {
  content: "\e92b";
}
.edw-icon-css:before {
  content: "\e91d";
}
.edw-icon-Check:before {
  content: "\e916";
}
.edw-icon-Add-block:before {
  content: "\e917";
}
.edw-icon-advance:before {
  content: "\e918";
}
.edw-icon-block:before {
  content: "\e919";
}
.edw-icon-code:before {
  content: "\e91a";
}
.edw-icon-component:before {
  content: "\e91b";
}
.edw-icon-content:before {
  content: "\e91c";
}
.edw-icon-Down:before {
  content: "\e91e";
}
.edw-icon-Dynamic-block:before {
  content: "\e91f";
}
.edw-icon-layout:before {
  content: "\e920";
}
.edw-icon-Navigator:before {
  content: "\e921";
}
.edw-icon-Pencil:before {
  content: "\e922";
}
.edw-icon-Plus_24:before {
  content: "\e923";
}
.edw-icon-redo:before {
  content: "\e924";
}
.edw-icon-save:before {
  content: "\e925";
}
.edw-icon-send-2:before {
  content: "\e926";
}
.edw-icon-undo:before {
  content: "\e927";
}
.edw-icon-Up:before {
  content: "\e928";
}
.edw-icon-No-Activity1:before {
  content: "\e915";
}
.edw-icon-brush:before {
  content: "\e914";
}
.edw-icon-Tab:before {
  content: "\e911";
}
.edw-icon-Mobile:before {
  content: "\e912";
}
.edw-icon-Desktop:before {
  content: "\e913";
}
.edw-icon-Feedback:before {
  content: "\e910";
}
.edw-icon-Category-Event:before {
  content: "\e905";
}
.edw-icon-Complete-Active:before {
  content: "\e906";
}
.edw-icon-Complete_Default:before {
  content: "\e907";
}
.edw-icon-Course-Event:before {
  content: "\e908";
}
.edw-icon-Dislike:before {
  content: "\e909";
}
.edw-icon-Inprogress:before {
  content: "\e90a";
}
.edw-icon-like:before {
  content: "\e90b";
}
.edw-icon-No-Event_241:before {
  content: "\e90c";
}
.edw-icon-Site-Event:before {
  content: "\e90d";
}
.edw-icon-User-Event:before {
  content: "\e90e";
}
.edw-icon-Yettostart:before {
  content: "\e90f";
}
.edw-icon-Folder2:before {
  content: "\e904";
}
.edw-icon-Send:before {
  content: "\e902";
}
.edw-icon-Smile_2:before {
  content: "\e903";
}
.edw-icon-Group-user1:before {
  content: "\e901";
}
.edw-icon-Activity-completed:before {
  content: "\41";
}
.edw-icon-Adduser:before {
  content: "\42";
}
.edw-icon-Assignment_Activity:before {
  content: "\43";
}
.edw-icon-Badges:before {
  content: "\44";
}
.edw-icon-Book:before {
  content: "\45";
}
.edw-icon-Calendar:before {
  content: "\46";
}
.edw-icon-Cancel:before {
  content: "\47";
}
.edw-icon-Card-View:before {
  content: "\48";
}
.edw-icon-Certificate:before {
  content: "\49";
}
.edw-icon-Chat_Activity:before {
  content: "\4a";
}
.edw-icon-Checkbox_Active:before {
  content: "\4b";
}
.edw-icon-Checkbox_Default:before {
  content: "\4c";
}
.edw-icon-Choice_Activity:before {
  content: "\4d";
}
.edw-icon-Comment-03:before {
  content: "\4e";
}
.edw-icon-Comment-21:before {
  content: "\4f";
}
.edw-icon-Completed-course:before {
  content: "\50";
}
.edw-icon-Configure:before {
  content: "\51";
}
.edw-icon-Course-enrolled_24:before {
  content: "\52";
}
.edw-icon-Database_Activity:before {
  content: "\53";
}
.edw-icon-Delete-Course:before {
  content: "\54";
}
.edw-icon-Down-Arrow:before {
  content: "\55";
}
.edw-icon-Download:before {
  content: "\56";
}
.edw-icon-Due-acitvities:before {
  content: "\57";
}
.edw-icon-Edit:before {
  content: "\58";
}
.edw-icon-Email:before {
  content: "\59";
}
.edw-icon-Expand:before {
  content: "\5a";
}
.edw-icon-External_Activity:before {
  content: "\61";
}
.edw-icon-Facebook:before {
  content: "\62";
}
.edw-icon-Feedback_Activity:before {
  content: "\63";
}
.edw-icon-File_Activity:before {
  content: "\64";
}
.edw-icon-Folder:before {
  content: "\65";
}
.edw-icon-Forum_Activity:before {
  content: "\66";
}
.edw-icon-Fullscreen-04:before {
  content: "\67";
}
.edw-icon-Glossary:before {
  content: "\68";
}
.edw-icon-Gplus:before {
  content: "\69";
}
.edw-icon-Grade:before {
  content: "\6a";
}
.edw-icon-Group-user:before {
  content: "\6b";
}
.edw-icon-H5P_Activity:before {
  content: "\6c";
}
.edw-icon-Help:before {
  content: "\6d";
}
.edw-icon-Hide:before {
  content: "\6e";
}
.edw-icon-IMS:before {
  content: "\6f";
}
.edw-icon-Info:before {
  content: "\70";
}
.edw-icon-Label_Activity:before {
  content: "\71";
}
.edw-icon-Language:before {
  content: "\72";
}
.edw-icon-Lecture-01:before {
  content: "\73";
}
.edw-icon-Left-Arrow:before {
  content: "\74";
}
.edw-icon-Left-Big-01:before {
  content: "\75";
}
.edw-icon-Length-01:before {
  content: "\76";
}
.edw-icon-Lesson_Activity:before {
  content: "\77";
}
.edw-icon-Link_Acitivity:before {
  content: "\78";
}
.edw-icon-Linkedin:before {
  content: "\79";
}
.edw-icon-List-View-08:before {
  content: "\7a";
}
.edw-icon-Logout:before {
  content: "\31";
}
.edw-icon-Long-Left_24:before {
  content: "\32";
}
.edw-icon-Long-Right_24:before {
  content: "\33";
}
.edw-icon-Mobile-menu:before {
  content: "\34";
}
.edw-icon-Move:before {
  content: "\36";
}
.edw-icon-List:before {
  content: "\37";
}
.edw-icon-No-Event_24:before {
  content: "\38";
}
.edw-icon-Notification:before {
  content: "\39";
}
.edw-icon-Pages_Activity:before {
  content: "\30";
}
.edw-icon-Permission-1:before {
  content: "\3d";
}
.edw-icon-Permission-2-Ok:before {
  content: "\60";
}
.edw-icon-Preferences:before {
  content: "\5b";
}
.edw-icon-Private-Files:before {
  content: "\5d";
}
.edw-icon-Quiz_Activity:before {
  content: "\5c";
}
.edw-icon-Radio-Btn_Active:before {
  content: "\3b";
}
.edw-icon-Radio-Btn_Default:before {
  content: "\27";
}
.edw-icon-Rating-stars_Active:before {
  content: "\2c";
}
.edw-icon-Rating-stars_Default:before {
  content: "\2e";
}
.edw-icon-Recent:before {
  content: "\2f";
}
.edw-icon-Refresh:before {
  content: "\21";
}
.edw-icon-Report:before {
  content: "\40";
}
.edw-icon-Right-Arrow:before {
  content: "\23";
}
.edw-icon-Right-Big-arrow-01:before {
  content: "\24";
}
.edw-icon-Scorm_Activity:before {
  content: "\25";
}
.edw-icon-Search:before {
  content: "\5e";
}
.edw-icon-Server-files:before {
  content: "\26";
}
.edw-icon-Setting:before {
  content: "\2a";
}
.edw-icon-Shortcut:before {
  content: "\28";
}
.edw-icon-Show:before {
  content: "\29";
}
.edw-icon-Skill-level-01:before {
  content: "\5f";
}
.edw-icon-Smile:before {
  content: "\2b";
}
.edw-icon-Sort:before {
  content: "\7b";
}
.edw-icon-Square-Arrow_Right:before {
  content: "\7c";
}
.edw-icon-Square-Arrow_left:before {
  content: "\7d";
}
.edw-icon-Support:before {
  content: "\3a";
}
.edw-icon-Survey_Activity:before {
  content: "\22";
}
.edw-icon-Time:before {
  content: "\3c";
}
.edw-icon-Todo-list:before {
  content: "\3e";
}
.edw-icon-Topic-View:before {
  content: "\3f";
}
.edw-icon-UpArrow:before {
  content: "\e95e";
}
.edw-icon-Upload:before {
  content: "\e960";
}
.edw-icon-Url-downloader:before {
  content: "\e961";
}
.edw-icon-User:before {
  content: "\e962";
}
.edw-icon-Wiki_Activity:before {
  content: "\e963";
}
.edw-icon-Wikimedia:before {
  content: "\e964";
}
.edw-icon-Workshop_Activity:before {
  content: "\e965";
}
.edw-icon-XSS-risk:before {
  content: "\e966";
}
.edw-icon-more:before {
  content: "\35";
}
.edw-icon-more_vertical:before {
  content: "\e900";
}
.edw-icon-password:before {
  content: "\2d";
}
.edw-icon-updown:before {
  content: "\e95f";
}
