{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    Edwiser RemUI
    @package theme_remui
    @copyright (c) 2023 WisdmLabs (https://wisdmlabs.com/)
    @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{< core_form/element-template }}
    {{$label}}
        {{^element.hiddenlabel}}
            <p id="{{element.id}}_label" class="edw-form-label mb-0 d-inline" aria-hidden="true">
                {{{label}}}
            </p>
        {{/element.hiddenlabel}}
    {{/label}}
    {{$element}}
        <fieldset class="w-100 m-0 p-0 border-0" id="{{element.id}}_fieldset">
            <legend class="sr-only">{{label}}</legend>
            {{{element.html}}}
        </fieldset>
    {{/element}}
{{/ core_form/element-template }}
{{#js}}
(function() {
    var label = document.getElementById('{{element.id}}_label');
    if (label) {
        label.style.cursor = 'default';
        label.addEventListener('click', function() {
            document.querySelectorAll('#{{element.id}}_fieldset .fp-btn-choose')[0].focus();
        });
    }
})();
{{/js}}
