{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<div id="enrolled_users_stats_block-{{uniqid}}" class="local_enrolled_users_stats_block">
  {{# hascategory }}
  <div class="chart-content-wrapper d-flex  justify-content-around align-items-center flex-gap-6">
    <div class="enrolleduser-chart-wrapper  m-0 p-0 align-self-center">
      <div class="chart-responsive">
        <canvas id="epb-pieChartblock"></canvas>
      </div>
    </div>
    <div class="enrolleduser-content-wrapper d-flex flex-column flex-gap-8">
      <div class="d-flex flex-column flex-gap-1">
        <label class="m-0">{{#str}}selectcategory, local_edwiserpagebuilder{{/str}}</label>
        <select id='epb-coursecategorylistblock' class='epb-coursecategorylistblock form-control mb-10' data-style="epb-coursecategorylistblock form-control">
          {{# category }}
          <option data-id="{{ key }}">{{{categoryname}}}</option>
          {{/ category }}
        </select>
      </div>
      <ul class="epb-chart-legend list-group list-group-full clearfix m-0 border-0 flex-gap-4"></ul>
    </div>
  </div>
  <div class="epb-enroll-stats-error alert alert-danger" style="display:none">
    {{#str}}problemwhileloadingdata, local_edwiserpagebuilder{{/str}}
  </div>
  <div class="epb-enroll-stats-nouserserror alert alert-info" style="display:none">
    {{#str}}nousersincoursecategoryfound, local_edwiserpagebuilder{{/str}}
  </div>
  {{/ hascategory }}
  {{^ hascategory }}
  <div class="epb-enroll-stats-error alert alert-info">
    {{#str}}nocoursecategoryfound, local_edwiserpagebuilder{{/str}}
  </div>
  {{/ hascategory }}
</div>

{{#js}}
    require(['jquery'], function($){
        setTimeout(function() {
            var coursecategorylistblockdropdown = $('.block_edwiseradvancedblock .edwiser-enrolledusers .local_enrolled_users_stats_block button.dropdown-toggle.epb-coursecategorylistblock');
            coursecategorylistblockdropdown.attr('data-bs-toggle', coursecategorylistblockdropdown.attr('data-toggle'));
        }, 500);
    });
{{/js}}
