<div class="menu-picker-select">
    <div class="menu-picker btn-group" role="group">
        {{! <label for="show-menu" class="menu-button"><span></span></label> }}
        <span class="edw-icon edw-icon-Setting menu-button"></span>
        <span class="edw-icon edw-icon-Cancel d-none" aria-hidden="true" aria-label=""></span>
    </div>
    <div class="menu-content d-none " aria-label="Vertical button group">
        <a href="{{ enrollusers }}" title="{{# str }} enroluser, theme_remui {{/ str }}"
            class="btn btn-primary ">
            <span class="edw-icon edw-icon-Group-user" aria-hidden="true"></span>
        </a>
        <a href="{{ grader }}" title="{{# str }} graderreport, theme_remui {{/ str }}"
            class="btn btn-primary ">
            <span class="edw-icon edw-icon-Rating-stars_Default" aria-hidden="true"></span>
        </a>
        <a href="{{ activity }}" title="{{# str }} activityeport, theme_remui {{/ str }}"
            class="btn btn-primary">
            <span class="edw-icon edw-icon-Survey_Activity " aria-hidden="true"></span>
        </a>
        <a href="{{ editcourse }}" title="{{# str }} editcourse, theme_remui {{/ str }}"
            class="btn btn-primary">
            <span class="edw-icon edw-icon-Edit" aria-hidden="true"></span>
        </a>
    </div>
</div>