{{#customfield}}
<div class="list-item d-flex justify-content-between added-custom-field {{shortname}}">
    <span class="d-flex flex-gap-1 custom-title-wrapper">
        <span class="edw-icon edw-icon-bullet-Arrow large"></span>
        <span class="label h-regular-5">{{name}}</span>
    </span>
    <span class="sub-label h-semibold-5 text-right ">{{{text}}}</span>
</div>
{{/customfield}}
