<div id="edwpersonalizer-settings">
	<h3 class="box-title border-0">
		{{#str}}edwpersonalizer, theme_remui{{/str}}
	</h3>
	<a class="btn btn-primary activatepersonalizer" href={{config.wwwroot}}/theme/remui/customizer.php?url={{config.wwwroot}}/admin/settings.php?section=themesettingremui>
		{{#str}}editinpersonalizer, theme_remui{{/str}}
	</a>

	<h5 class="h-regular-5 activepersonalizer d-none">
		{{#str}}activepersonalizer, theme_remui{{/str}}
	</h5>
</div>

