{{#categories}}
<div class="slick-carousel-item h-100">
    <div class="card-container h-100">
        <div class="card h-100">
            <div class="card-header bg-primary">
                <p class="title1 ellips-item-2">{{{parentname}}}</p>
                <p class="title2 ellips-item-2">{{{name}}}</p>
            </div>
            <p class="card-desc">
                {{{description}}}
            </p>
            <div class="cards-footer">
                <p class="footer-desc color-primary">
                    {{coursecount}} {{#str}}courses,filter_edwiserpbf{{/str}}
                </p>
                <a href="{{categoryurl}}"><button class="footer-btn btn btn-secondary">{{viewcourses}}</button></a>
            </div>
        </div>
    </div>
</div>
{{/categories}}
