
<div class="card-wrapper {{blockgroup}} {{additionalclass}} {{section}} {{blocktype}}" data-parentblock="{{name}}" data-block="{{name}}{{#section}}{{section}}{{/section}}" data-blockid="{{id}}">
    <div class="card-item h-100 ">
       
        
        {{#section}}<div class="ribbon d-none">Edwiser</div>{{/section}}
    </div>
</div>

