<div class="warning-mess-wrapper uneditable-msg-wrapper">
  <div class="warning-mess-box">
    <img src="{{{warningicon}}}" alt="" class="warning-img" />
    <p class="warning-mess">{{#str}}uneditablewarningmsg, local_edwiserpagebuilder{{/str}}</p>
  </div>
</div>